.wrapper {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

.wrapper h1 {
    color: #333;
    font-size: 2.5rem;
    font-family: Muli;
    max-width: 50%;
    text-align: center;
    font-weight: 900;
}

.wrapper h6 {
    color: #E18226;
    font-size: 1rem;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 0px;
}